[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
click = "*"
requests = "*"
nltk = "*"
pillow = "*"
pytest = "*"
facebook-sdk = "*"
redis = "*"
pony = "*"
flask = "*"
imageio = "*"
numpy = "*"
moviepy = "*"
gtts = "*"

[requires]
python_version = "3.7"

[scripts]
stockhaiku = "python -m stockhaiku"
